openapi: 3.0.0
info:
  title: N3XT API Documentation Approvals Ndd Routes API
  version: v1.0.1-3514-g824039216
  description: 'A holistic banking API for businesses.


    Find the swagger definition file at <a href="/docs/swagger.json">/docs/swagger.json.</a>'
  license:
    name: ISC
  contact:
    name: N3XT Support
    url: https://helpcenter.n3xt.io/en/
  termsOfService: https://n3xt.io/legal/website-terms-of-use
servers:
- url: https://openapi.n3xt.io
security:
- bearerAuth: []
tags:
- name: Ndd Routes
paths:
  /ndd/tokenize:
    post:
      operationId: NDD Mint
      responses:
        '202':
          description: The NDD mint was created successfully.
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    id:
                      type: string
                  required:
                  - id
                  type: object
                - $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    id: payment123
        '400':
          description: Bad Request - Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions to perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity - Validation failed for the request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      description: Allows the authenticated user to create an NDD mint transaction.
      summary: NDD Mint to a specified public wallet
      tags:
      - Ndd Routes
      security:
      - bearerAuth: []
      parameters: []
      requestBody:
        description: 'The request body: amount, senderWalletId, recipientWalletId, description.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NddMintRequest'
              description: 'The request body: amount, senderWalletId, recipientWalletId, description.'
            example:
              amount: '100.0'
              senderWalletId: wallet123
              recipientWalletId: wallet1234
              description: Minting NDD to public wallet
  /ndd/redeem:
    post:
      operationId: NDD Burn
      responses:
        '202':
          description: The NDD burn was created successfully.
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    id:
                      type: string
                  required:
                  - id
                  type: object
                - $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    id: payment123
        '400':
          description: Bad Request - Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions to perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity - Validation failed for the request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      description: Allows the authenticated user to create an NDD burn transaction.
      summary: NDD Burn from a specified public wallet
      tags:
      - Ndd Routes
      security:
      - bearerAuth: []
      parameters: []
      requestBody:
        description: 'The request body: amount, senderWalletId, recipientWalletId, description.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NddBurnRequest'
              description: 'The request body: amount, senderWalletId, recipientWalletId, description.'
            example:
              amount: '100.0'
              senderWalletId: wallet123
              recipientWalletId: wallet1234
              description: Burning NDD from public wallet
components:
  schemas:
    NddBurnRequest:
      properties:
        amount:
          type: string
        senderWalletId:
          type: string
        recipientWalletId:
          type: string
        description:
          type: string
      required:
      - amount
      - senderWalletId
      - recipientWalletId
      - description
      type: object
      additionalProperties: false
    ErrorResponse:
      properties:
        error:
          type: string
      required:
      - error
      type: object
      additionalProperties: false
    NddMintRequest:
      properties:
        amount:
          type: string
        senderWalletId:
          type: string
        recipientWalletId:
          type: string
        description:
          type: string
      required:
      - amount
      - senderWalletId
      - recipientWalletId
      - description
      type: object
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      name: Authorization
      in: header
      description: Bearer auth -> insert ONLY the token (the word Bearer will automatically be added)
